.idea/
venv/
local_settings.py
*.pyc
light_recipe/static
cookbook/static/css/bootstrap.css
cookbook/static/css/bootstrap.css.map
cookbook/static/css/bootstrap.min.css
cookbook/static/css/bootstrap-theme.css
cookbook/static/css/bootstrap-theme.css.map
cookbook/static/css/bootstrap-theme.min.css
cookbook/static/js/bootstrap.js
cookbook/static/js/bootstrap.min.js
cookbook/static/js/npm.js
